# Predicting probabilities for global remote work salaries over the next few years
 
<hr>

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

## Preparing the dataset

In [4]:
data = pd.read_csv("..\data\salaries.csv")
data.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2021e,MI,FT,Data Scientist,82500,USD,82500,US,100,US,S
1,2021,SE,FL,Copywriter,220000,CAD,175477,CA,100,CA,L
2,2021,SE,FT,Information Security Engineer,104000,USD,104000,US,100,US,L
3,2022e,MI,FT,Information Security Specialist,100000,AUD,72366,CA,100,CA,L
4,2022e,MI,FT,Information Security Specialist,100000,CAD,78745,CA,100,CA,L